{% macro MainMenu(links) %}
    {% for link in links %}
        <li>
            <a href="{{ link.data.url }}">{{ link.data.title_in_menu ? link.data.title_in_menu : link.data.title }}</a>
            {% if link.list %}
                <ul>
                    {{ _self.MainMenu(link.list) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{ _self.MainMenu(list) }}
            </ul>
        </div>
    </div>
</nav>