<meta charset="utf-8">
<title>{{ data.meta_title }}</title>
<link rel="stylesheet" type="text/css" href="{{ urlTo('@theme/css/bootstrap.min.css') }}" />

<style>
    #wrapper {
        max-width: 960px;
        margin: auto;
    }
    header {
        padding: 20px 0;
    }
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar {
        margin-bottom: 20px;
    }

</style>