<!DOCTYPE html>
<html>
<head>
    <title>next.index Панель управления</title>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ urlTo('@theme/css/auth.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>