/*CSS Reset*/

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: "Trebuchet MS", arial, helvetica, verdana, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
br.clear
{
  clear: both;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background: white;
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/* END RESET */

html, body {
  height: 100%;
}

body {
  background: url("../images/authPage/auth-bg.png") left top;
  position: relative;
}

div.auth-panel {
  width: 380px;
  /*height: 300px;*/
  top: 50%;
  left: 50%;
  margin: -150px -190px;
  position: absolute;
}

div.auth-panel form {
  background: #ffffff;
  border-radius: 4px;
  padding: 23px;
  width: 334px;
  box-shadow: 0 0 30px 4px #000000;

}

div.auth-panel div.h1 {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
}

div.auth-panel div.h2 {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 6px;
}

div.auth-panel label.h2 {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 6px;
  display: block;
}

div.auth-panel input.text {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  width: 318px;
  height: 26px;
  background: #FFFFFF;
  padding: 2px 8px;
  box-shadow: inset 0 3px 8px 0 #f4f4f4;
}

div.auth-panel div.button-row {
  padding-top: 20px;
  width: 100%;
}

div.auth-panel div.button-row div {
  float: left;
}

div.auth-panel div.button-row div.left {
  text-align: left;
  width: 70%;
  padding-top: 5px;
}

div.auth-panel div.button-row div.right {
  text-align: right;
  width: 30%;
}

div.auth-panel div.button-row a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px dotted #333333;
  font-size: 14px;
}

div.auth-panel div.copy {
  padding-top: 7px;
}

div.auth-panel div.copy a {
  display: inline-block;
  width: 115px;
  height: 30px;
  background: url("../images/authPage/auth-logo.png") no-repeat left top;
}

div.auth-panel div.error {
  padding: 15px 0;
  font-size: 14px;
  color: #FF3800;
}

div.auth-panel div.error a {
  color: #FF3800;
}

div.auth-panel div.text {
  padding-top: 32px;
  padding-bottom: 12px;
  font-size: 14px;
  color: #333333;
}


