/*
 * GridFilters Styles
 */

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
    background: url("/themes/backend/images/buttons/filter.png") no-repeat 3px center;
    padding-left: 21px;
}

.ux-gridfilter-text-icon {
    background-image: url(../js/ext-ux/grid/images/find.png) !important;
}
