{# @title Сообщения (ошибки авторизации и прочее) #}
{% extends '@themelayouts/auth.twig' %}
{% block content %}
    <div class="auth-panel" id="auth">
        <form method="post" action="{{ url('/backend/default/auth') }}">
            <div class="h1">Восстановление пароля</div>

            <div class="error">
                Ошибка восстановления пароля: пользователь не найден, или просрочена ссылка восстановления, попробуйте
                <a href="{{ url('/backend/default/index', {'state': 'restore'}) }}">начать восстановление снова</a>.
            </div>

            <div class="button-row">
                <div class="left">
                    <a href="{{ url('/backend/default/index', {'state': 'restore'}) }}" class="changeState">Восстановление пароля</a>
                </div>
                <div class="right">
                </div>
            </div>
            <br class="clear">
        </form>
        <div class="copy">
            <a href="http://index-art.ru" target="_blank"></a>
        </div>
    </div>
{% endblock %}