<div class="row">
    <div class="bg-divider-horizontal-2"></div>
</div>
<div class="row footer">
    <div class="col-xs-12 col-md-6">

    </div>
    <div class="col-xs-12 col-md-6">
        <a href="http://www.index-art.ru/" class="copyr">
            <img src="{{ urlTo('@theme/images/logo22.png') }}" alt="Разработка сайта">
            <span><span>Разработка<br>сайта</span></span>
        </a>
    </div>
</div>