<!DOCTYPE html>
<html lang="ru-RU">
<head>
    {% include '@themeroot/views/include/header.twig' %}
</head>
<body>
<div class="container">
    {{ use('app/modules/site/widgets') }}
    {{ main_menu_widget() }}

    <div class="jumbotron">
        <h1>{{ data.title }}</h1>
        {% block content %}
        {% endblock %}
        {% include '@themeroot/views/include/bodyEnd.twig' %}
    </div>

</div>
</body>
</html>