{# @title Страница смены пароля #}
{% extends '@themelayouts/auth.twig' %}
{% block content %}
    <div class="auth-panel" id="auth">
        <form method="post" action="{{ url('/backend/default/do-restore', {'email': email, 'code': code}) }}">
            <input type="hidden" value="1" name="do">
            <div class="h1">Смена пароля</div>
            {% if errors %}
                <div class="error">
                    {% if errors.password == 'empty' %}
                        Вы не ввели новый пароль.
                    {% elseif errors.password == 'notMatch' %}
                        Пароль и его подтверждение не совпадают.
                    {% elseif errors.password == 'tooShort' %}
                        Пароль не может быть короче 5 символов.
                    {% elseif errors.password == 'tooLong' %}
                        Пароль не может быть длиннее 50 символов.
                    {% elseif errors.login == 'some' %}
                        Что-то пошло не так.
                    {% endif %}
                </div>
            {% endif %}
            <label for="input_passwd" class="h2">Пароль</label>
            <input id="input_passwd" name="password" class="text" type="text">

            <label for="input_passwd_confirm" class="h2">Подтверждение пароля</label>
            <input id="input_passwd_confirm" name="passwordConfirm" class="text" type="password">

            <div class="button-row">
                <div class="left">
                    <a href="{{ url('/backend/default/index') }}" class="changeState">Войти в систему управления</a>
                </div>
                <div class="right">
                    <input type="image" src="{{ urlTo('@theme/images/authPage/auth-login-button.png') }}">
                </div>
            </div>
            <br class="clear">
        </form>
        <div class="copy">
            <a href="http://index-art.ru" target="_blank"></a>
        </div>
    </div>
    <script>
        $(document).on('ready', function () {
            $('label').each(function () {
                $(this).css('opacity', .3);
            });
            $('input[type=text], input[type=password]').on('focusin', function () {
                $('label[for=' + this.id + ']').animate({opacity: 1}, 200);
            }).on('focusout', function () {
                $('label[for=' + this.id + ']').animate({opacity: 0.3}, 200);
            });
        });
    </script>
{% endblock %}