.in2-form-title-container {
    padding: 21px 8px 0 8px;
}

.in2-form-title-container b {
    font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.in2-form-title-container a {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/buttons/edit-from-form.png") no-repeat left top;
}
