/* ========== ПЕРЕОПРЕДЕЛЕНИЕ БАЗОВЫХ СТИЛЕЙ ГЛОБАЛЬНО ========== */

/* Панели */

.x-panel-header-default-framed {
  border: 1px solid #d1d1d1;
  height: 34px;
}

.x-panel-header-text-container-default-framed {
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  padding: 5px;
}

.x-panel-header-default-framed-top {
  background-color: #ffffff;
}

.x-panel .x-panel-header-default-framed-top {
  border-bottom: 1px solid #f3f3f3 !important;
}

.x-panel .x-panel-header-default-framed-top .x-tool-img{
  background-color: #ffffff;
  background-image: url(../js/ext/resources/ext-theme-neptune/images/tools/tool-sprites-dark.png);
}



.x-panel-default-framed {
  border: 1px solid #d1d1d1;
}



/* Toolbars and Buttons */

.x-btn-default-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #f3f3f3;
  background-image: none;
}

.x-btn-default-small {
  border-color: #d8d8d8;
}

.x-btn-default-small .x-btn-inner{
  color: #666;
}

.x-btn-default-medium {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #f3f3f3;
  background-image: none;
}

.x-btn-default-medium {
  border-color: #d8d8d8;
}

.x-btn-default-medium .x-btn-inner{
  color: #666;
}

.x-btn-default-large {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #f3f3f3;
  background-image: none;
}

.x-btn-default-large {
  border-color: #f3f3f3;
}

.x-btn-default-large .x-btn-inner{
  color: #666;
}

.x-btn-default-toolbar-medium {
  background: #f3f3f3;
  border: 1px solid #d8d8d8
}

.x-btn-default-toolbar-medium-over {
  background: #f9f9f9;
  border: 1px solid #d8d8d8
}

.x-btn-default-toolbar-medium-pressed {
  background: #e7e7e7;
  border: 1px solid #d8d8d8
}

.x-btn-default-toolbar-medium-icon .x-btn-icon-el {
  background-position: left center;
}

.x-btn-default-toolbar-medium-icon .x-btn-icon-el {
  background-position: center center;
}

.x-btn-icon-text-left .x-btn-icon-el {
  background-position: center center;
}

.x-btn-default-toolbar-small {
  background-image: none;
}

.x-toolbar-footer {
  background: none;
  border-top: 1px solid silver !important;
}

.x-btn-default-toolbar-medium-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) !important;
  opacity: 0.2 !important;
}

/* Forms */

.x-form-item-label {
  white-space: nowrap;
}

.x-form-text {
  padding: 5px;
  box-shadow: inset 0 3px 8px 0 #f4f4f4;
  -moz-box-shadow: inset 0 3px 8px 0 #f4f4f4;
  height: 27px;
}


/* Trees */

.x-tree-node-text {
  padding-right: 10px;
}

.x-grid-cell-inner-treecolumn {
  white-space: nowrap !important;
}


/* Grids */

.x-grid-header-ct {
  box-shadow: #d2d2d2 0 3px 5px;
}

.x-grid-tree-node-expanded .cp-node-arrow {
  background: url("../images/extOverride/arrow-up.png") no-repeat left center !important;
  width: 16px;
  height: 24px;
  margin: -4px 0 2px 0;
}

.x-column-header-inner {
  padding-right: 18px !important;
}

.x-column-header-text {
  white-space: normal;
  padding-right: 17px;
}
.x-column-header-checkbox .x-column-header-text {
  padding-right: 0 !important;
}
.x-grid-td {
  vertical-align: middle !important;
}

.x-grid-row .x-grid-cell-inner {
  white-space: normal;
}
.x-grid-row-over .x-grid-cell-inner {
  font-weight: normal;
  white-space: normal;
}

/*.x-column-header {*/
  /*border-right: none;*/
/*}*/

.x-column-header-trigger {
  background-color: #F5F5F5;
  display: block;
  border-right: none;
}

.x-column-header-last .x-column-header-trigger {
  border-right: 1px silver solid;
}

.x-column-header-over .x-column-header-trigger {
  background-color: #eef6fb;
}


/* Layouts and Splitters */

.x-border-layout-ct {
  background-color: #fafafa;
}

.x-layout-split-left {
  background-image: url("../images/extOverride/collapse-tool-left.png");
  top: 15px;
  margin-top: 0;
  width: 13px;
  height: 30px;
}

.x-layout-split-right {
  background-image: url("../images/extOverride/collapse-tool-right.png");
  top: 15px;
  margin-top: 0;
  width: 13px;
  height: 30px;
}

.x-splitter-collapsed .x-layout-split-left {
  background-image: url("../images/extOverride/collapse-tool-right.png");
}

.x-splitter-collapsed .x-layout-split-right {
  background-image: url("../images/extOverride/collapse-tool-left.png");
}

/* DataView */

.x-boundlist {
  box-shadow: 0 1px 2px 0 #515151;
  -moz-box-shadow: 0 1px 2px 0 #515151;
}

/* Windows */

.x-window-default {
  border: 1px solid #3b3b3b;
}

.x-window-header-default-top {
  background-color: #3b3b3b;
}

.x-window-header-default {
  border: 1px solid #3b3b3b;
}

.x-window-header-default .x-tool-img {
  background-color: #3b3b3b;
}

/* Tabs */

.x-tab-bar-default {
  background: #FFFFFF;
  padding-top: 5px;
}

.x-tab-default-top {
  background: url("../images/extOverride/h-devider.png") repeat-x left bottom;
  padding-left: 0;
  padding-right: 0;
  margin: 0 8px;
}

.x-tab-default-active {
  background: url("../images/extOverride/active-tab-bottom.png") repeat-x left bottom;
}

.x-tab-default-top .x-tab-inner {
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.x-tab-default-active .x-tab-inner {
  color: #db7318;
  font-weight: bold;
  font-size: 16px;
}

.x-tab-bar-strip-default {
  background: url("../images/extOverride/h-devider.png") repeat-x left bottom;
}

.x-tab-bar-default .x-box-scroller {
  background-color: #959595;
}

/* ============= CP Main Menu =========== */

.cp-main-menu-body {
  background-image: url("../images/extOverride/main-menu-bg.png");
  border: none;
  border-top: 1px solid #1f2021 !important;
}

.cp-main-menu-body .x-tree-view {
  border-top: 1px solid #454748 !important;
}

.cp-main-menu-body .x-grid-td {
  background: none;
}

.cp-main-menu-body .cp-node-arrow {
  background: url("../images/extOverride/arrow-down.png") no-repeat left center;
  width: 16px;
  height: 24px;
  margin: -4px 0 2px 0;
}

.cp-main-menu-body .node-arrow-up {
  background: url("../images/extOverride/arrow-up.png") no-repeat left center;
  width: 16px;
  height: 24px;
}

.cp-main-menu-body .x-grid-data-row {
  height: 32px;
}

.cp-main-menu-body .x-grid-row-over {
  background: #3b3b3b;
}

.cp-main-menu-body .x-grid-row-over {
  background: #3b3b3b;
}

.cp-main-menu-body .x-grid-row-selected .x-grid-td {
  background: #434343;
}

.cp-main-menu-body .x-grid-data-row-inner {
  height: 20px;
}

.cp-main-menu-body .x-grid-tree-loading .x-tree-icon {
  background-image: url("../images/extOverride/loader.gif");
}

.cp-main-menu-body .first-level-node-text {
  font-family: "Trebuchet MS", Arial;
  font-size: 13px;
  font-weight: bold;
  color: #f4f4f4;
  line-height: 16px;
  padding: 0 8px;
  cursor: pointer;
}

.cp-main-menu-body .deep-node-text {
  font-family: "Trebuchet MS", Arial;
  font-size: 12px;
  font-weight: normal;
  color: #f4f4f4;
  line-height: 16px;
  padding: 0 19px;
  cursor: pointer;
}

.cp-main-menu-body .deep-node-text-expandable {
  padding: 0 2px;
}

.cp-main-menu-body .cp-main-tree-icon {
  margin-top: -3px;
  margin-bottom: 0;
  width: 16px;
  height: 24px;
  background-position: 0 center;
  background-repeat: no-repeat;
  vertical-align: top;
}

.cp-main-menu-placeholder {
  background-image: url("../images/extOverride/main-menu-bg.png");
  border: none;
  border-top: 1px solid #1f2021 !important;
}

.cp-main-menu-placeholder .button {
  width: 43px;
  height: 34px;
  margin: 2px 0;
  cursor: pointer;
}

.cp-main-menu-placeholder .button-over {
  background-color: #3b3b3b;
}

.cp-main-menu-placeholder .button-inner {
  width: 43px;
  height: 34px;
  margin: 2px 0;
  background-position: center center;
}

/* =========== CP Header =========== */


.cp-header {
  height: 62px;
  background: url("../images/header/bg.png") repeat-x left top;
  padding: 15px 20px 0 20px;
  position: relative;
  /*border-bottom: 1px solid #1f2021;*/
}

.cp-header .cp-switch-interface {
  width: 200px;
  height: 47px;
  float: left;
  padding-left: 20px;
}

.cp-header .cp-switch-interface a{
  width: 54px;
  height: 33px;
  border: none;
  display: block;
  float: left;
}

.cp-header .cp-switch-interface img{
  width: 54px;
  height: 33px;
  border: none;
}

.cp-header .cp-add-button {
  display: block;
  background: url("../images/header/add-button.png") no-repeat left top;
  width: 129px;
  height: 33px;
  float: left;
  border: none;
  text-decoration: none;
  margin-right: 13px;
  cursor: pointer;
}

.cp-header .cp-add-button-press {
  background-position: left -33px;
}

.cp-header .cp-search-container {
  width: 230px;
  height: 47px;
  float: left;
  margin-right: 13px;
}

.cp-header .cp-search-container input {
  width: 230px;
  height: 33px;
  background: #bababa url("../images/header/find-icon.png") no-repeat 200px center;
  box-shadow: inset 0 3px 8px 0 #515151;
  -moz-box-shadow: inset 0 3px 8px 0 #515151;
  border: 1px solid #1a1a1a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 30px 0 10px;
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-size: 15px;
}

.cp-header .cp-search-container input:-moz-placeholder {
  color: #4e4d4d;
}
.cp-header .cp-search-container input::-webkit-input-placeholder {
  color: #4e4d4d;
}

.cp-header .cp-devider {
  float: left;
  width: 30px;
  height: 62px;
  margin-top: -15px;
  background: url("../images/header/devider.png") no-repeat top center;
}

.cp-header .cp-user-info-cont {
  position: absolute;
  top: 15px;
  right: 0;
  width: 240px;
  height: 33px;
}

.cp-header .cp-user-info-cont img {
  float: left;
  width: 31px;
  height: 31px;
  border: solid 1px #1a1a1a;
  border-radius: 3px;
}

.cp-header .cp-user-info-cont .cp-user-info-cont-right {
  float: left;
  width: 200px;
  height: 33px;
  padding-left: 7px;
}

.cp-header .cp-user-info-cont .cp-user-info-cont-right .cp-user-info-name{
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}

.cp-header .cp-user-info-cont .cp-user-info-cont-right a{
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: underline;
}


/* ============ Modules editors ============= */

/*
.next-index-form-header {
  font-size: 18px;
  color: #f64c00;
  font-weight: bold;
}
*/

/*
.next-index-panels-body {
  background: #FFFFFF;
}
*/

.ni-img-field {
  border: 1px solid #e6e6e6;
  padding: 3px;
}


/* ========== Favorites ============= */

.fav-header {
  height: 50px;
  position: relative;
}

.fav-header .head-text {
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  height: auto;
  width: auto;
  position: absolute;
  left: 20px;
  top: 23px;
}

.fav-header .add-widget {
  display: block;
  height: auto;
  width: auto;
  position: absolute;
  right: 20px;
  top: 25px;
  background: url("../images/buttons/add-widget.png") no-repeat left 2px;
  padding-left: 18px;
}

.fav-header .add-widget a {
  display: block;
  height: auto;
  width: auto;
  font-family: "Trebuchet MS" arial, helvetica, verdana, sans-serif;
  font-size: 12px;
  color: #333333;
  border-bottom: 1px dotted #333333;
  text-decoration: none;
}